<h1>Weather Data for <%= params[:city] %>, <%= params[:country] %></h1>

<% if @weather_data %>
  <p>Datetime: <%= @weather_data['datetime']%>
  <p>Temperature: <%= @weather_data['app_temp']%>
  <p>Sunrise: <%= @weather_data['sunrise']%>
  <p>Sunset: <%= @weather_data['sunset']%>
  <p>Timezone: <%= @weather_data['timezone']%>
  <p>Weather Description: <%= @weather_data['weather']['description']%>
<% else %>
  <p>No weather data available for the provided city and country.</p>
<% end %>
