<!DOCTYPE html>
<html>
<head>
  <title>AI Travel Manager</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
  <nav class="navbar-menu">
    <ul class="navbar-list">
      <li class="navbar-item"><%= link_to 'Home', root_path %></li>
      <li class="navbar-item"><%= link_to 'Destinos' %></li>
      <li class="navbar-item"><%= link_to 'Weather', weather_index_path %></li>
      <li class="navbar-item"><%= link_to 'Itinerários'%></li>
    </ul>
  </nav>
</header>


  <main class="container">
    <%= yield %>
  </main>

  <footer class="footer">
    <p>&copy; <%= Time.now.year %> AI Travel Manager. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
